<section class="footer text-white">
  <div class="first-part bg-main p-5">
    <div class="container p-5">
      <div class="row">
        <div class="location text-center col-md-4">
          <h3 class="mb-2">LOCATION</h3>
          <span>2215 John Daniel Drive</span>
          <span>Clark, MO 65243</span>
        </div>
        <div class="around text-center col-md-4">
          <h3 class="mb-2">AROUND THE WEB</h3>
          <div class="icons d-flex justify-content-center">
            <div class="icon border border border-white rounded-circle d-flex justify-content-center align-items-center me-3">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="icon border border border-white rounded-circle d-flex justify-content-center align-items-center me-3">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="icon border border border-white rounded-circle d-flex justify-content-center align-items-center me-3">
              <i class="fa-brands fa-linkedin-in"></i>
            </div>
            <div class="icon border border border-white rounded-circle d-flex justify-content-center align-items-center me-3">
              <i class="fa-brands fa-dribbble"></i>
            </div>
          </div>
        </div>
        <div class="freelance text-center col-md-4">
          <h3 class="mb-2">ABOUT FREELANCER</h3>
          <span>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</span>
        </div>
      </div>
    </div>
  </div>
  <div class="second-part bg-black p-3 text-center">
    <span class="fs-6">Copyright © Your Website 2021</span>
  </div>
</section>
