<nav class="navbar navbar-expand-lg bg-body-tertiary color px-5 bg-main fixed-top w-100">
  <div class="container mx-5 px-5">
    <a class="navbar-brand text-white fw-bolder" routerLink="home" routerLinkActive="textbiger">START ANGULAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse me-auto" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-list">
        <li class="nav-item fw-bolder">
          <a class="nav-link text-white p-3 me-3" aria-current="page" routerLink="protfolio" routerLinkActive=" rounded-3 click-link">PROTFLIO</a>
        </li>
        <li class="nav-item fw-bolder">
          <a class="nav-link text-white p-3 me-3 " routerLink="about" routerLinkActive="rounded-3 click-link">ABOUT</a>
        </li>
        <li class="nav-item fw-bolder">
          <a class="nav-link text-white p-3 me-3" routerLink="contact" routerLinkActive="rounded-3 click-link">CONTACT</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
