<section class="home-sec bg-second vh-100 d-flex justify-content-center align-items-center">
  <div class="home-content text-center">
    <div class="image w-75 m-auto">
      <img src="./assets/images/avataaars.svg" class="w-100" alt="avtar-img">
    </div>
    <h1 class="mt-3 fw-bolder fs-large">START ANGULAR</h1>
    <div class="line-with-star mt-3 d-flex align-items-center justify-content-center">
      <div class="line me-3"></div>
      <i class="fa-solid fa-star fs-3 text-white"></i>
      <div class="line ms-3"></div>
    </div>
    <h6 class="text-white mt-3 fs-4 fw-bold ">Graphic Artist - Web Designer - Illustrator</h6>
  </div>
</section>
